.div {
    width: 328px;
    height: 58px;
    display: flex;
    flex-direction: row;
    color: var(--grey-2);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-5);
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    gap: 50px;
}

.photoLogo {
    width: 46px;
    height: 46px;
    border-radius: 150px;
}